body {
  background-color: rgb(213, 215, 226);
}

.wrapper {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  color: rgb(42, 45, 60);
  width: 85%;
}

header {
  background-color: rgb(231, 189, 193);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

header h1 {
  display: inline;
  vertical-align: middle;
}

header img {
  vertical-align: middle;
  margin: 0 0 0 15px;
}

.nav {
  list-style-type: none;
}

h1,h2,h3 {
    font-family: 'Lato', sans-serif;
    color: rgb(21, 22, 30);
}

.stores-section {
  padding: 10px;
  margin: 10px;
  background-color: rgb(254, 253, 240);
  border-radius: 5px;
}

#stores {
  font-weight: bold;
  font-size: 24px;
}

.main-nav {
  font-family: 'Lato', sans-serif;
  list-style: none;
}

.stores-nav {
  font-size: 20px;
  list-style: none;
  font-family: 'Lato', sans-serif;
}

a:hover {
  background-color: rgba(243, 243, 243, 1);
}

a {
  padding: 5px;
  text-decoration: none;
}

li {
  margin: 10px 0;
  list-style-type: none;
}

footer {
  font-family: 'Lato', sans-serif;
}
